PORT=5000
MONGO_URI=mongodb://127.0.0.1:27017/swiftfix
JWT_SECRET=f6d8c83e1c6b16e8b549f2b87fcf1620c3a28c381c81062b1a82f42be92c7302

# Custom SMTP Settings (Optional - if missing, server auto-generates Ethereal test inbox credentials)
# SMTP_HOST=smtp.mailtrap.io
# SMTP_PORT=2525
# SMTP_USER=your_smtp_username
# SMTP_PASS=your_smtp_password
# SMTP_FROM=no-reply@swiftfix.com
# NOTIFY_EMAIL=business@swiftfix.com
